<%- include('header') %>

<div class="text-center mb-3">
  <img src="https://cdn-icons-png.flaticon.com/512/3502/3502601.png" alt="Nueva venta" style="width: 70px;">
</div>

<div class="row">
  <div class="col-md-6">
    <h2 class="mb-4">Añadir Venta</h2>
    <form action="/ventas" method="POST">
      
        <label for="productoId" class="form-label">Qué se vende:</label>
        <select id="productoId" name="productoId" class="form-select" required>
          <% if (productos.length === 0) { %>
            <option value="">No hay cosas</option>
          <% } else { %>
            <option value="">Elige algo</option>
            <% productos.forEach(producto => { %>
              <option value="<%= producto._id %>"><%= producto.nombre %> - $<%= producto.precio.toFixed(2) %></option>
            <% }); %>
          <% } %>
        </select>
      
      <br>
      
        <label for="cliente" class="form-label">Para quién:</label>
        <input type="text" id="cliente" name="cliente" class="form-control" required placeholder="Ernesto Cliente">
      
      <br>
      
        <label for="fechaVenta" class="form-label">Cuándo:</label>
        <input type="date" id="fechaVenta" name="fechaVenta" class="form-control" required>
      
      <br>
      
        <label for="cantidad" class="form-label">Cuántos:</label>
        <input type="number" id="cantidad" name="cantidad" class="form-control" required min="1" placeholder="2">
      
      <br>
      
        <label for="total" class="form-label">Costo Total:</label>
        <input type="number" id="total" name="total" class="form-control" required step="0.01" placeholder="50.00">
      
      <br>
      <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary">OK</button>
        <a href="/ventas" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
</div>

